{% extends 'layout.html' %}
{% block body_content %}
    <p>Create a tank</p>
    <div class='form'>
        <form method='POST' action=''>
	{{ form.hidden_tag() }}
	<div class="form-group">
	    {{ form.name.label }}
	    {{ form.name }}
	    {% if form.name.errors %}
	    <div class="error">
	        {% for error in form.name.errors %}
	            <span>{{ error }}</span>
	        {% endfor %}
	    </div>
	    {% endif %}
	</div>
	<br>
	<div class="form-group">
	    {{ form.description.label }}
	    {{ form.decription }}
	    {% if form.description.errors %}
	    <div class="error">
	        {% for error in form.description.errors %}
	            <span>{{ error }}</span>
	        {% endfor %}
	    </div>
	    {% endif %}
	</div>
	<br>
            <div class='form_group'>
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}
