{% extends "layout.html" %}
{% block body_content %}
<div class='form'>
        <form method='POST' action=''>
	{{ form.hidden_tag() }}
            {{ form.tank_name.label }}
            {{ form.tank_name }}
            <br>
            {{ form.ammonia.label }}
            {{ form.ammonia }}
            <br>
            {{ form.nitrate.label }}
            {{ form.nitrate }}
            <br>
            {{ form.nitrite.label }}
            {{ form.nitrite }}
            <br>
            {{ form.submit }}
        </form> 
    </div>
{% endblock %}